<h1>물건 목록</h1>

<form action="/items" method="get">
    <input type="text" name="keyword">
    <button type="submit">검색</button>
</form>

<p>현재 페이지: {{currentPage}}</p>
<p>전체 페이지: {{totalPages}}</p>


{{#items}}
    <h2><a href="/items/{{id}}"> {{name}}</a></h2>
    <p>{{description}}</p>
{{/items}}

{{#hasPrevious}}
    <a href="/items?keyword={{keyword}}&page={{previousPage}}">이전</a>
{{/hasPrevious}}

{{#hasNext}}
    <a href="/items?keyword={{keyword}}&page={{nextPage}}">다음</a>
{{/hasNext}}